.App {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 200px;
}

.counter-count {
  width: 100px;
  height: 100px;
  background-color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 22px;
  opacity: 0.6;
}

.btn {
  text-align: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(220, 207, 207, 0.377);
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.counter-minus {
  transform: translate(50%, 50%);
}

.counter-plus {
  transform: translate(-50%, 50%);
}